main {
	font-family: 'Lato', sans-serif;
	text-align: left;

	justify-content: center;
}

main a {
	color: #586069;
	text-decoration: none;
}

.content {
	height: 50vh;

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}

.section {
	width: auto;

	margin-left: 2vw;
	margin-right: 3vw;
	margin-bottom: 3vh;
}

.section-title {
	margin-bottom: 1vh;

	font-family: 'Literata', serif;
	color: #586069;
}

.section-content {
	display: flex;
	flex-direction: row;
	align-items: center;
	
	color: #586069;
	text-decoration: none;
}

.section span {
	margin-right: 1vw;
	margin-left: 1vw;

	font-size: 6vh;
	color: #d1d5da;
}


#email:hover * { color: #4caf50; }
#telegram:hover * { color: #0088cc; }
#github:hover * { color: #333; }
#reddit:hover * { color: #ff4500; }
