.content {
	margin-top: 7vh;
	width: 80%;
}

.section {
	width: 20%;
	margin-left: 3vw;
	margin-right: 3vw;
}

.large { width: 30%; }

.section-content {
	display: flex;
	flex-direction: row;
	align-items: center;
	
	color: #586069;
	text-decoration: none;
}

.section span {
	margin-right: 1vw;
	margin-left: 1vw;

	font-size: 4em;
	color: #d1d5da;
}

#email:hover * { color: #4caf50; }
#telegram:hover * { color: #0088cc; }
#github:hover * { color: #333; }
#reddit:hover * { color: #ff4500; }
#keybase:hover * { color: #00de8f; }
