main {
	text-align: center;
	font-family: 'Literata', serif;
}

#avatar {
	height: 25vh;

	margin-top: 5vh;

	border: 2px solid #d1d5da;
	border-radius: 130px;
}

#username {
	margin: 0;
	color: #586069;
	font-weight: 600;
	font-style: italic;
}

#name {
	margin-top: 2vh;
	margin-bottom: 0;
}
