body {
	height: 100%;
	background-color: #fafbfc;

	margin: 0px;
}


/* MAIN */

main {
	width: 100%;

	margin-top: 15vh;
	margin-bottom: 9vh;
}

.title {
	font-family: 'Literata', serif;
	text-align: center;
	color: #24292e;

	margin-top: 3vh;
	margin-bottom: 5vh;
}


/* MENU */

menu {
	position: fixed;

	top: 0;

	width: 100%;
	height: 11vh;
	max-height: 95px;

	margin-top: 0px;
	margin-bottom: 0px;

	padding-left: 0px;

	display: flex;

	background-color: white;
	border-bottom: 1px solid #d1d5da;

	font-family: 'Lato', sans-serif;
}

@media (orientation: portrait) {
	menu {
		justify-content: center;
	}
}

.menu-tab {
	box-sizing: border-box;
	padding-top: 5px;
	border-bottom: 5px solid white;

	float: left;
	height: 100%;
	padding-left: 2.5vw;
	padding-right: 2.5vw;
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #24292e; 
}

.menu-tab span { margin-right: 1vw; }

.menu-tab:hover {
	border-bottom: 5px solid #d1d5da;
	font-weight: bold;
}


/* FOOTER */

footer {
	position: fixed;
	bottom: 0;
	left: 0;

	width: 100%;
	height: 7vh;

	padding-bottom: 1.5vh;
	padding-top: 2vh;
	border-top: 1px solid #d1d5da;

	background-color: white;

	font-family: 'Lato', sans-serif;
	text-align: center;
}

footer a{ 
	text-decoration: none;
	color: #24292e;
}
