.section { width: 20%; }
.large { width: 30%; }
.double { display: flex; flex-direction: column; }
.double a { margin-bottom: 0.2vh; margin-top: 0.2vh; }

.section-content {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.section span {
	margin-right: 1vw;
	margin-left: 1vw;

	font-size: 4em;
	color: #d1d5da;
}
